/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* remove 'auto' and the width to switch to a fluid width */
/* line 15, ../sass/layout.sass */
#page {
  width: 916px;
  margin: 0 auto;
  margin-top: 38px;
}

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 21, ../sass/layout.sass */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 27, ../sass/layout.sass */
.sidebar {
  float: left;
}

/* line 30, ../sass/layout.sass */
#sidebar-second {
  float: right;
}

/* line 33, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
  margin-bottom: 20px;
}

/* Layout Helpers */
/* line 39, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 * Make sure you keep negative values as negative values.
 * For example, if I want to increase the width of the left sidebar
 * to 300px, I would have to change each '190' to '300'. */
/* line 57, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 232px;
}

/* line 61, ../sass/layout.sass */
#sidebar-first {
  width: 232px;
  margin-right: -232px;
  margin-top: 240px;
}

/* line 68, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

/* line 72, ../sass/layout.sass */
#sidebar-second {
  width: 200px;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 79, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Navigation styles
 * -----------------
 * The navigation is loaded after the content, so we need to make space
 * for it, equal to its height, so if you change the height of the navigation,
 * remember to adapt the margin top of the content and sidebars. */
/* line 87, ../sass/layout.sass */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

/* line 97, ../sass/layout.sass */
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px;
}
