/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 14px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  background: #0b0b0b;
}

/* Links */
/* line 12, ../sass/style.sass */
a:link, a:visited {
  color: black;
  text-decoration: none;
}

/* line 17, ../sass/style.sass */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 22, ../sass/style.sass */
#site-name {
  font-size: 2.1em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0.6em 0 0.5em 0.5em;
  margin: 0;
}
/* line 28, ../sass/style.sass */
#site-name a {
  color: white;
  font-weight: bold;
}

/* line 32, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 35, ../sass/style.sass */
h1 {
  font-size: 1.8em;
  font-weight: 300;
  padding: 20px 0 7px 0;
  margin: 0;
}

/* line 41, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 46, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 50, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 54, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 59, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 64, ../sass/style.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 68, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 73, ../sass/style.sass */
table {
  width: 99%;
}

/* line 78, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 81, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 85, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 89, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 97, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 99, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 101, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 103, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 106, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 108, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 110, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 114, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 120, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 124, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 127, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 134, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 138, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 145, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 150, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 155, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 161, ../sass/style.sass */
#header, #footer {
  background: #efefef;
}

/* line 167, ../sass/style.sass */
#sidebar-second {
  background: #ffd075;
}

/* line 170, ../sass/style.sass */
#navigation {
  background: #feffa5;
}

/* line 10, ../sass/_custom.sass */
.min-width {
  background: url(../images/bg-top.gif) top repeat-x;
}

/* line 13, ../sass/_custom.sass */
body {
  background: url(../images/bg.gif);
}

/* line 16, ../sass/_custom.sass */
#main {
  background: url(../images/bg-top5.jpg) no-repeat 0 0px;
}

/* line 19, ../sass/_custom.sass */
.head-row1 {
  height: 57px;
  width: 100%;
  overflow: hidden;
}
/* line 23, ../sass/_custom.sass */
.head-row1 .col2 a {
  display: block;
  width: 62px;
  height: 30px;
  background: #e9a331;
  color: #f1f0f0;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  float: right;
}

/* line 35, ../sass/_custom.sass */
.head-row2 {
  height: 281px;
  width: 100%;
}
/* line 38, ../sass/_custom.sass */
.head-row2 h2 {
  color: white;
  display: block;
  float: left;
  font-size: 28px;
  margin-left: 100px;
  margin-top: 100px;
  line-height: 50px;
}

/* line 47, ../sass/_custom.sass */
.head-row3 {
  height: 98px;
  width: 100%;
}

/* line 51, ../sass/_custom.sass */
.corner-bot-left {
  background: url(../images/corner-bot-left.gif) no-repeat left bottom white;
}

/* line 54, ../sass/_custom.sass */
.corner-bot-right {
  background: url(../images/corner-bot-right.gif) no-repeat right bottom;
  width: 100%;
  overflow: hidden;
}

/* line 59, ../sass/_custom.sass */
#main {
  background-color: #fcfce4;
}

/* line 62, ../sass/_custom.sass */
#content-inner #content-area {
  background-color: white;
  padding: 15px 25px 30px 27px;
  min-height: 300px;
}

/* line 68, ../sass/_custom.sass */
.block {
  margin-top: 20px;
}
/* line 70, ../sass/_custom.sass */
.block .content {
  padding: 4px 25px 27px 29px;
  overflow: hidden;
}
/* line 74, ../sass/_custom.sass */
.block h2 {
  color: black;
  font-size: 18px;
  font-weight: normal;
  padding: 0px 0px 5px 29px;
  line-height: 22px;
  text-transform: capitalize;
}

/* line 82, ../sass/_custom.sass */
#block-system-main-menu .content ul.menu li {
  padding: 0px 0px 1px 0px;
  list-style-image: none;
  list-style: none;
  margin: 0;
  line-height: normal;
  line-height: 31px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
/* line 91, ../sass/_custom.sass */
#block-system-main-menu .content ul.menu li a {
  color: #1f1f1f;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding-left: 0px;
  overflow: hidden;
}
/* line 99, ../sass/_custom.sass */
#block-system-main-menu .content ul.menu li a.active {
  color: #ff5800;
}
/* line 101, ../sass/_custom.sass */
#block-system-main-menu .content ul.menu li span {
  font-size: 14px;
}

/* line 107, ../sass/_custom.sass */
.page-node-3 a#intro {
  font-size: 22px;
  background: #e9a331;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  color: white;
  display: block;
  float: left;
}
/* line 117, ../sass/_custom.sass */
.page-node-3 a#download {
  font-size: 22px;
  background: #e9a331;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  color: white;
  display: block;
  float: left;
  margin-left: 50px;
}
/* line 128, ../sass/_custom.sass */
.page-node-3 a#introen {
  font-size: 16px;
  background: #ff5800;
  height: 45px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  color: white;
  display: block;
  float: left;
}
/* line 138, ../sass/_custom.sass */
.page-node-3 a#downloaden {
  font-size: 16px;
  background: #ff5800;
  height: 45px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
  color: white;
  display: block;
  float: left;
  margin-left: 30px;
}

/* line 151, ../sass/_custom.sass */
#block-views-content_slideshow-block {
  margin-top: 0;
  padding-top: 15px;
}

/* line 155, ../sass/_custom.sass */
.view-content-slideshow a {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
/* line 159, ../sass/_custom.sass */
.view-content-slideshow div.views-row {
  padding: 3px 0 8px 14px;
}

/* line 167, ../sass/_custom.sass */
.node-type-project .region-content .content {
  padding: 0;
}
/* line 170, ../sass/_custom.sass */
.node-type-project .region-content .content .field-type-video .field-item {
  margin-bottom: 20px;
}

/* line 173, ../sass/_custom.sass */
#footer .copy {
  margin: 0 auto;
  text-align: center;
  height: 36px;
  line-height: 36px;
  background: #e9a331;
  color: black;
}

/* line 182, ../sass/_custom.sass */
.node-type-article .region-content .content {
  text-indent: 2em;
}
