// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.

// Import variables and mixins to be used.
@import _variables.sass
@import _mixins.sass

.min-width
  background: url(../images/bg-top.gif) top repeat-x
  
body
  background: url(../images/bg.gif)
  
#main
  background: url(../images/bg-top5.jpg) no-repeat 0 0px
  
.head-row1
  height: 57px
  width: 100%
  overflow: hidden
  .col2 a
    display: block
    width: 62px
    height: 30px
    background: #E9A331
    color: #F1F0F0
    font-size: 11px
    text-decoration: none
    text-align: center
    line-height: 30px
    float: right
  
.head-row2
  height: 281px
  width: 100%
  h2
    color: white
    display: block
    float: left
    font-size: 28px
    margin-left: 100px
    margin-top: 100px
    line-height: 50px
  
.head-row3
  height: 98px
  width: 100%
  
.corner-bot-left
  background: url(../images/corner-bot-left.gif) no-repeat left bottom white
  
.corner-bot-right
  background: url(../images/corner-bot-right.gif) no-repeat right bottom
  width: 100%
  overflow: hidden

#main
  background-color: #FCFCE4
#content-inner
  #content-area
    background-color: white
    //background: url(../images/bg-cont.gif) top repeat-x
    padding: 15px 25px 30px 27px
    min-height: 300px
  
.block
  margin-top: 20px
  .content
    padding: 4px 25px 27px 29px
    overflow: hidden

  h2
    color: black
    font-size: 18px
    font-weight: normal
    padding: 0px 0px 5px 29px
    line-height: 22px
    text-transform: capitalize
    
#block-system-main-menu .content ul.menu li 
  padding: 0px 0px 1px 0px
  list-style-image: none
  list-style: none
  margin: 0
  line-height: normal
  line-height: 31px
  overflow: hidden
  border-bottom: 1px solid #E5E5E5
  a
    color: #1F1F1F
    font-size: 14px
    text-decoration: none
    font-weight: normal
    display: block
    padding-left: 0px
    overflow: hidden
  a.active
    color: #ff5800
  span
    font-size: 14px
  
  
// Custom Front Page
.page-node-3
  a#intro
    font-size: 22px
    background: #E9A331
    height: 30px
    padding-top: 10px
    padding-left: 10px
    width: 100px
    color: white
    display: block
    float: left
  a#download
    font-size: 22px
    background: #E9A331
    height: 30px
    padding-top: 10px
    padding-left: 10px
    width: 100px
    color: white
    display: block
    float: left
    margin-left: 50px
  a#introen
    font-size: 16px
    background: #ff5800
    height: 45px
    padding-top: 10px
    padding-left: 10px
    width: 100px
    color: white
    display: block
    float: left
  a#downloaden
    font-size: 16px
    background: #ff5800
    height: 45px
    padding-top: 10px
    padding-left: 10px
    width: 100px
    color: white
    display: block
    float: left
    margin-left: 30px

// Custom highlighed region
#block-views-content_slideshow-block
  margin-top: 0
  padding-top: 15px
.view-content-slideshow
  a
    color: white
    font-size: 14px
    font-weight: bold
  div.views-row
    padding: 3px 0 8px 14px
//    background: url(../images/a4.gif) no-repeat 0 5px

    
// Custom project page
.node-type-project
  .region-content
    .content
      padding: 0
      .field-type-video
        .field-item
          margin-bottom: 20px

#footer .copy
  margin: 0 auto
  text-align: center
  height: 36px
  line-height: 36px
  background: #E9A331
  color: black
  
// Page node 32
.node-type-article .region-content .content
  text-indent: 2em
          